<h1 class="text-center">{{ user.userName }}</h1>
<p class="text-center">Edita aquí tu perfil</p>
<div class="my-5 text-center">
    {{#if imagen}}
        <img src="/img/perfiles/{{imagen}}" alt="" class="rounded-circle">
        {{else}}
        <img src="/img/perfiles/perfil.jpg" alt="" class="rounded-circle">
    {{/if}}
</div>

<form action="/perfil?_csrf={{csrfToken}}" method="post" enctype="multipart/form-data">
    {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}" /> --}}
    <input class="form-control form-control-sm" id="formFileSm" type="file" name="myFile">
    <button class="btn btn-dark my-3">Cambiar imagen de perfil</button>
</form>
